In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd

In [3]:
dataframe = pd.read_csv('001_win.csv')
item = pd.read_csv('item.csv')

In [4]:
df1 = dataframe[['性別','年齡' ,'月收入' ,'居住地' ,'職業', '學歷']]
df2 = dataframe.drop(['NO','性別','年齡' ,'月收入' ,'居住地' ,'職業', '學歷', '姓名', '地址', '電話'], axis = 1)
df2 = df2.iloc[:, list(range(0,202,2))]  
print(df2.shape)
print('-'*8)
print(df1.shape)

(660, 101)
--------
(660, 6)

In [5]:
df1.head()

   性別  年齡  月收入  居住地   職業  學歷
0   2   3    1    2  9.0   3
1   2   1    1    2  9.0   3
2   2   1    1    2  4.0   3
3   2   4    2    2  1.0   2
4   2   3    3    2  9.0   3

In [6]:
df2.head()

,q01,q02,q03,q04,q05,q06,q07,q08,q09,q10,...,q92,q93,q94,q95,q96,q97,q98,q99,q100,q101
0,1,1,1,2,8,1,1,0,0,7,...,0,0,0,0,0,6,18,1,99,7
1,1,1,7,1,8,1,1,5,6,1,...,0,3,0,0,5,9,9,9,0,1
2,1,1,13,0,4,1,1,1,0,1,...,0,0,0,1,0,2,5,10,12,8
3,1,1,8,1,1,1,1,1,0,13,...,0,2,0,1,5,4,5,4,2,7
4,1,2,13,2,8,1,7,5,11,1,...,5,3,0,0,5,4,5,4,2,7

# 基本資料

In [7]:
df1 = df1.replace({'性別':{0:'未填答', 1:'男', 2:'女'},
             '年齡':{0:'未填答', 1:'26-30歲', 2:'31-35歲', 3:'36-40歲', 4:'41-45歲', 5:'46-50歲', 6:'51-55歲', 7:'56-60歲', 8:'61歲及以上'},
             '月收入':{0:'未填答', 1:'30,000元以下', 2: '30,001-50,000元', 3:'50,001-70,000元', 4:'70,001-90,000元', 5:'90,001-110,000元', 6: '110,001-130,000元', 7:'130,000元以上'},
             '居住地':{0:'未填答', 1:'基隆、宜蘭、台北、新北', 2:'桃園、新竹、苗栗', 3:'台中地區', 4:'彰化、雲林、南投', 5:'嘉義、台南', 6:'高雄、屏東', 7:'花蓮、台東'},
             '職業':{0:'未填答', 1:'製造業', 2:'軍公教', 3:'工商貿易', 4:'服務業', 5:'金融業', 6:'資訊業', 7:'自由業', 8:'學生', 9:'其他'},
             '學歷':{0:'未填答', 1:'國中（含）以下', 2:'高中職', 3:'專科及大學', 4:'研究所以上'}})

In [8]:
df1.head()

  性別      年齡             月收入       居住地   職業     學歷
0  女  36-40歲       30,000元以下  桃園、新竹、苗栗   其他  專科及大學
1  女  26-30歲       30,000元以下  桃園、新竹、苗栗   其他  專科及大學
2  女  26-30歲       30,000元以下  桃園、新竹、苗栗  服務業  專科及大學
3  女  41-45歲  30,001-50,000元  桃園、新竹、苗栗  製造業    高中職
4  女  36-40歲  50,001-70,000元  桃園、新竹、苗栗   其他  專科及大學

In [9]:
df1.shape

(660, 6)

# 除錯

In [10]:
print(df1.性別.unique())
print(df1.年齡.unique())
print(df1.月收入.unique())
print(df1.居住地.unique())
print(df1.職業.unique())
print(df1.學歷.unique())

['女' '男']
['36-40歲' '26-30歲' '41-45歲' '51-55歲' '46-50歲' '31-35歲' '56-60歲' '61歲及以上'
 '未填答']
['30,000元以下' '30,001-50,000元' '50,001-70,000元' '130,000元以上'
 '110,001-130,000元' '70,001-90,000元' '90,001-110,000元' '未填答']
['桃園、新竹、苗栗' '基隆、宜蘭、台北、新北' '台中地區' '嘉義、台南' 14]
['其他' '服務業' '製造業' '工商貿易' '金融業' '自由業' '軍公教' '資訊業' '學生' '未填答' nan]
['專科及大學' '高中職' '研究所以上' '未填答' '國中（含）以下']

In [11]:
df1['居住地'] = df1['居住地'].astype(str)
df1['職業'] = df1['職業'].astype(str)

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 6 columns):
性別     660 non-null object
年齡     660 non-null object
月收入    660 non-null object
居住地    660 non-null object
職業     660 non-null object
學歷     660 non-null object
dtypes: object(6)
memory usage: 31.0+ KB

# 問卷資料

In [13]:
#df2.rename(columns={'q01 ':'q01'}, inplace=True)
df2.rename(columns={'q35 ':'q35'}, inplace=True)
df2.rename(columns={'q66 ':'q66'}, inplace=True)

In [14]:
q = list(item.對應題目.unique())[0]
count = item[item['對應題目']== q].子題名稱.count()

In [15]:
df3 = pd.DataFrame()
for i in range(0,101):
    q = list(item.對應題目.unique())[i]
    count = item[item['對應題目']== q].子題名稱.count()
    o = list(item[item['對應題目']== q].index)
    da = df2[[q]].replace(list(range(1,count-1))+[ 0, 99], list(item.iloc[o,3]))
    df3 = pd.concat([df3, da], ignore_index= True, axis= 1)
colname = list(item.調查品項.unique())
df3.columns = colname

In [16]:
df3.行動電話系統業者.unique()

array(['中華電信', '遠傳電信', '亞太電信', '台灣大哥大', '台灣之星', '威寶電信', '未填答', '其他'], dtype=object)

In [17]:
df_final = pd.concat([df3, df1], ignore_index= False, axis= 1 )

In [18]:
df_final.shape

(660, 107)

In [19]:
df_final.行動電話系統業者.unique()

array(['中華電信', '遠傳電信', '亞太電信', '台灣大哥大', '台灣之星', '威寶電信', '未填答', '其他'], dtype=object)

In [20]:
#df_final.head()

In [21]:
#pd.crosstab(df_final['行動電話系統業者'], df_final['職業'], margins=True).sort_values(by='All',ascending=0)

In [22]:
#list(df_final['居住地'].unique())

In [23]:
#list(df_final['職業'].unique())

# 拆解步驟

In [24]:
df_final.head()

,行動電話系統業者,數據網路服務,房屋仲介,租車,快遞,加油站,連鎖咖啡店,連鎖藥妝店╱藥局,保全公司,直銷公司,...,電視台,綜藝節目主持人,談話性節目主持人,政治人物,性別,年齡,月收入,居住地,職業,學歷
0,中華電信,中華電信,信義,和運(和泰),黑貓宅急便（統一速達）,中油,星巴克,未填答,未填答,美樂家,...,華視,張菲,其他,林智堅,女,36-40歲,"30,000元以下",桃園、新竹、苗栗,其他,專科及大學
1,中華電信,中華電信,有巢氏,格上(裕隆),黑貓宅急便（統一速達）,中油,星巴克,佑全,天威,Amway安麗,...,中視,曾國城,未填答,柯文哲,女,26-30歲,"30,000元以下",桃園、新竹、苗栗,其他,專科及大學
2,中華電信,中華電信,台灣房屋,未填答,中華郵政,中油,星巴克,康是美,未填答,Amway安麗,...,三立,小S,曾國城,蘇貞昌,女,26-30歲,"30,000元以下",桃園、新竹、苗栗,服務業,專科及大學
3,中華電信,中華電信,21世紀,格上(裕隆),DHL,中油,星巴克,康是美,未填答,葡眾,...,三立,吳宗憲,于美人,林智堅,女,41-45歲,"30,001-50,000元",桃園、新竹、苗栗,製造業,高中職
4,中華電信,台灣固網,台灣房屋,和運(和泰),黑貓宅急便（統一速達）,中油,85度C,佑全,中鋼,Amway安麗,...,三立,吳宗憲,于美人,林智堅,女,36-40歲,"50,001-70,000元",桃園、新竹、苗栗,其他,專科及大學

In [25]:
crosstab1 = pd.crosstab(df_final[df_final.columns[0]], df_final['性別'], margins=True).sort_values(by='All',ascending=0)
crosstab1.head()

性別          女    男  All
行動電話系統業者
All       346  314  660
中華電信      137  121  258
台灣大哥大      86   79  165
遠傳電信       83   72  155
台灣之星       20   21   41

In [26]:
crosstab1.rename(columns={'All': '總和'}, inplace=True)
crosstab1['{}_調查品項'.format('性別')] = df_final.columns[0]
crosstab1['對應題目'] = df2.columns[0]
crosstab1.head()

性別          女    男   總和   性別_調查品項 對應題目
行動電話系統業者
All       346  314  660  行動電話系統業者  q01
中華電信      137  121  258  行動電話系統業者  q01
台灣大哥大      86   79  165  行動電話系統業者  q01
遠傳電信       83   72  155  行動電話系統業者  q01
台灣之星       20   21   41  行動電話系統業者  q01

In [27]:
crosstab1 = crosstab1[crosstab1.index != '其他']
crosstab1 = crosstab1[crosstab1.index != '未填答']
crosstab1 = crosstab1[crosstab1.index != 'All']
crosstab1['廠商排名']=crosstab1['總和'].rank(ascending=0,method='min')
crosstab1.head()

性別          女    男   總和   性別_調查品項 對應題目  廠商排名
行動電話系統業者
中華電信      137  121  258  行動電話系統業者  q01   1.0
台灣大哥大      86   79  165  行動電話系統業者  q01   2.0
遠傳電信       83   72  155  行動電話系統業者  q01   3.0
台灣之星       20   21   41  行動電話系統業者  q01   4.0
亞太電信       12   17   29  行動電話系統業者  q01   5.0

In [28]:
df_crosstab = pd.DataFrame()
df_crosstab = pd.concat([df_crosstab,crosstab1], ignore_index= False, axis = 0)      
df_crosstab = df_crosstab.rename_axis(None, axis="columns")
df_crosstab['廠商名稱'] = df_crosstab.index 
df_crosstab = df_crosstab[['對應題目','{}_調查品項'.format('性別'), '廠商名稱']+list(df_final['性別'].unique())+['總和', '廠商排名']]
df_crosstab.head()

         對應題目   性別_調查品項   廠商名稱    女    男   總和  廠商排名
行動電話系統業者
中華電信      q01  行動電話系統業者   中華電信  137  121  258   1.0
台灣大哥大     q01  行動電話系統業者  台灣大哥大   86   79  165   2.0
遠傳電信      q01  行動電話系統業者   遠傳電信   83   72  155   3.0
台灣之星      q01  行動電話系統業者   台灣之星   20   21   41   4.0
亞太電信      q01  行動電話系統業者   亞太電信   12   17   29   5.0

# crosstab_by

In [29]:
# x 放性別、年齡、月收入、居住地、職業、學歷

def crosstab_by(x):    
    df_crosstab = pd.DataFrame()
    for i in range(0,101):
        crosstab1 = pd.crosstab(df_final[df_final.columns[i]], df_final[x], margins=True).sort_values(by='All',ascending=0)
        crosstab1.rename(columns={'All': '總和'}, inplace=True)
        crosstab1['{}_調查品項'.format(x)] = df_final.columns[i]
        crosstab1['對應題目'] = df2.columns[i]
        crosstab1 = crosstab1[crosstab1.index != '其他']
        crosstab1 = crosstab1[crosstab1.index != '未填答']
        crosstab1 = crosstab1[crosstab1.index != 'All']
        crosstab1['廠商排名']=crosstab1['總和'].rank(ascending=0,method='min')
        df_crosstab = pd.concat([df_crosstab,crosstab1], ignore_index= False, axis = 0)      
        df_crosstab = df_crosstab.rename_axis(None, axis="columns")
        df_crosstab['廠商名稱'] = df_crosstab.index 
        df_crosstab = df_crosstab[['對應題目','{}_調查品項'.format(x), '廠商名稱']+list(df_final[x].unique())+['總和', '廠商排名']]
        df_crosstab
    return df_crosstab

# Sex

In [31]:
print(df1.性別.unique())

['女' '男']

In [32]:
sex = crosstab_by('性別')
sex.iloc[:,-4:-1] = sex.iloc[:,-4:-1]*100/df_final.shape[0]

In [33]:
sex = sex.round(1)
sex[list(sex.columns[3:6])] = sex[list(sex.columns[3:6])].astype(str) + '%'
sex.head(5)

      對應題目   性別_調查品項   廠商名稱      女      男     總和  廠商排名
中華電信   q01  行動電話系統業者   中華電信  20.8%  18.3%  39.1%   1.0
台灣大哥大  q01  行動電話系統業者  台灣大哥大  13.0%  12.0%  25.0%   2.0
遠傳電信   q01  行動電話系統業者   遠傳電信  12.6%  10.9%  23.5%   3.0
台灣之星   q01  行動電話系統業者   台灣之星   3.0%   3.2%   6.2%   4.0
亞太電信   q01  行動電話系統業者   亞太電信   1.8%   2.6%   4.4%   5.0

# Age

In [34]:
print(df1.年齡.unique())

['36-40歲' '26-30歲' '41-45歲' '51-55歲' '46-50歲' '31-35歲' '56-60歲' '61歲及以上'
 '未填答']

In [35]:
age = crosstab_by('年齡')
age.iloc[:,-11:-1] = age.iloc[:,-11:-1]*100/df_final.shape[0]

In [36]:
age = age.round(1)
age[list(age.columns[3:13])] = age[list(age.columns[3:13])].astype(str) + '%'
age.head(7)

,對應題目,年齡_調查品項,廠商名稱,36-40歲,26-30歲,41-45歲,51-55歲,46-50歲,31-35歲,56-60歲,61歲及以上,未填答,總和,廠商排名
中華電信,q01,行動電話系統業者,中華電信,7.1%,6.8%,7.9%,3.2%,3.6%,6.4%,1.4%,1.1%,1.7%,39.1%,1.0
台灣大哥大,q01,行動電話系統業者,台灣大哥大,6.2%,4.4%,5.0%,1.2%,2.9%,3.8%,0.8%,0.0%,0.8%,25.0%,2.0
遠傳電信,q01,行動電話系統業者,遠傳電信,7.0%,3.9%,3.5%,0.9%,1.4%,4.7%,0.8%,0.2%,1.2%,23.5%,3.0
台灣之星,q01,行動電話系統業者,台灣之星,1.1%,0.6%,1.4%,0.3%,0.6%,2.0%,0.2%,0.0%,0.2%,6.2%,4.0
亞太電信,q01,行動電話系統業者,亞太電信,1.4%,0.5%,0.8%,0.3%,0.5%,1.1%,0.0%,0.0%,0.0%,4.4%,5.0
威寶電信,q01,行動電話系統業者,威寶電信,0.2%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.2%,6.0
中華電信,q02,數據網路服務,中華電信,11.1%,9.1%,10.8%,3.0%,4.8%,8.6%,1.5%,0.9%,1.8%,51.7%,1.0

# income

In [37]:
print(df1.月收入.unique())

['30,000元以下' '30,001-50,000元' '50,001-70,000元' '130,000元以上'
 '110,001-130,000元' '70,001-90,000元' '90,001-110,000元' '未填答']

In [38]:
income = crosstab_by('月收入')
income.iloc[:,-10:-1] = income.iloc[:,-10:-1]*100/df_final.shape[0]

In [39]:
income = income.round(1)
income[list(income.columns[3:12])] = income[list(income.columns[3:12])].astype(str) + '%'
income.head(7)

,對應題目,月收入_調查品項,廠商名稱,"30,000元以下","30,001-50,000元","50,001-70,000元","130,000元以上","110,001-130,000元","70,001-90,000元","90,001-110,000元",未填答,總和,廠商排名
中華電信,q01,行動電話系統業者,中華電信,7.4%,21.1%,5.9%,0.5%,0.3%,1.4%,0.9%,1.7%,39.1%,1.0
台灣大哥大,q01,行動電話系統業者,台灣大哥大,4.2%,14.8%,3.2%,0.0%,0.3%,1.1%,0.3%,1.1%,25.0%,2.0
遠傳電信,q01,行動電話系統業者,遠傳電信,4.8%,13.5%,2.6%,0.0%,0.5%,0.6%,0.5%,1.1%,23.5%,3.0
台灣之星,q01,行動電話系統業者,台灣之星,1.4%,2.3%,1.5%,0.0%,0.3%,0.3%,0.3%,0.2%,6.2%,4.0
亞太電信,q01,行動電話系統業者,亞太電信,0.9%,2.6%,0.5%,0.2%,0.2%,0.0%,0.2%,0.0%,4.4%,5.0
威寶電信,q01,行動電話系統業者,威寶電信,0.0%,0.2%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.2%,6.0
中華電信,q02,數據網路服務,中華電信,10.6%,27.3%,7.9%,0.3%,0.6%,2.0%,1.1%,2.0%,51.7%,1.0

# residence

In [40]:
print(df1.居住地.unique())

['桃園、新竹、苗栗' '基隆、宜蘭、台北、新北' '台中地區' '嘉義、台南' '14']

In [41]:
residence = crosstab_by('居住地')
residence = residence.drop(['14'], axis = 1)
residence.iloc[:,-6:-1] = residence.iloc[:,-6:-1]*100/df_final.shape[0]

In [42]:
residence = residence.round(1)
residence[list(residence.columns[3:8])] = residence[list(residence.columns[3:8])].astype(str) + '%'
residence.head(7)

      對應題目  居住地_調查品項   廠商名稱 桃園、新竹、苗栗 基隆、宜蘭、台北、新北  台中地區 嘉義、台南     總和  廠商排名
中華電信   q01  行動電話系統業者   中華電信     7.7%       31.2%  0.2%  0.0%  39.1%   1.0
台灣大哥大  q01  行動電話系統業者  台灣大哥大     3.2%       21.7%  0.2%  0.0%  25.0%   2.0
遠傳電信   q01  行動電話系統業者   遠傳電信     3.6%       19.5%  0.0%  0.2%  23.5%   3.0
台灣之星   q01  行動電話系統業者   台灣之星     0.9%        5.3%  0.0%  0.0%   6.2%   4.0
亞太電信   q01  行動電話系統業者   亞太電信     1.4%        3.0%  0.0%  0.0%   4.4%   5.0
威寶電信   q01  行動電話系統業者   威寶電信     0.0%        0.2%  0.0%  0.0%   0.2%   6.0
中華電信   q02    數據網路服務   中華電信     9.4%       41.8%  0.3%  0.2%  51.7%   1.0

# job

In [43]:
print(df1.職業.unique())

['其他' '服務業' '製造業' '工商貿易' '金融業' '自由業' '軍公教' '資訊業' '學生' '未填答' 'nan']

In [44]:
job = crosstab_by('職業')
job = job.drop(['nan'], axis = 1)
job.iloc[:,-12:-1] = job.iloc[:,-12:-1]*100/df_final.shape[0]

In [45]:
job = job.round(1)
job[list(job.columns[3:14])] = job[list(job.columns[3:14])].astype(str) + '%'
job.head(7)

,對應題目,職業_調查品項,廠商名稱,其他,服務業,製造業,工商貿易,金融業,自由業,軍公教,資訊業,學生,未填答,總和,廠商排名
中華電信,q01,行動電話系統業者,中華電信,5.2%,8.6%,4.2%,4.2%,6.8%,3.3%,1.1%,2.6%,1.4%,1.7%,39.1%,1.0
台灣大哥大,q01,行動電話系統業者,台灣大哥大,2.3%,6.1%,5.2%,2.1%,2.4%,2.6%,1.2%,1.7%,0.3%,1.2%,25.0%,2.0
遠傳電信,q01,行動電話系統業者,遠傳電信,2.4%,4.7%,3.2%,2.7%,4.2%,2.3%,0.5%,1.7%,0.8%,0.9%,23.5%,3.0
台灣之星,q01,行動電話系統業者,台灣之星,0.6%,1.2%,1.1%,0.6%,0.8%,0.6%,0.5%,0.5%,0.3%,0.2%,6.2%,4.0
亞太電信,q01,行動電話系統業者,亞太電信,0.5%,1.5%,0.5%,0.5%,0.5%,0.9%,0.0%,0.2%,0.0%,0.0%,4.4%,5.0
威寶電信,q01,行動電話系統業者,威寶電信,0.0%,0.2%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.2%,6.0
中華電信,q02,數據網路服務,中華電信,5.9%,12.7%,7.7%,4.7%,7.6%,4.5%,1.7%,3.3%,1.7%,1.8%,51.7%,1.0

# education

In [46]:
print(df1.學歷.unique())

['專科及大學' '高中職' '研究所以上' '未填答' '國中（含）以下']

In [47]:
education = crosstab_by('學歷')
education.iloc[:,-7:-1] = education.iloc[:,-7:-1]*100/df_final.shape[0]

In [48]:
education = education.round(1)
education[list(education.columns[3:9])] = education[list(education.columns[3:9])].astype(str) + '%'
education.head(7)

      對應題目   學歷_調查品項   廠商名稱  專科及大學   高中職 研究所以上   未填答 國中（含）以下     總和  廠商排名
中華電信   q01  行動電話系統業者   中華電信  27.9%  3.6%  3.9%  2.4%    1.2%  39.1%   1.0
台灣大哥大  q01  行動電話系統業者  台灣大哥大  18.8%  3.0%  1.4%  1.8%    0.0%  25.0%   2.0
遠傳電信   q01  行動電話系統業者   遠傳電信  18.2%  2.1%  1.7%  1.2%    0.3%  23.5%   3.0
台灣之星   q01  行動電話系統業者   台灣之星   5.0%  0.3%  0.2%  0.5%    0.3%   6.2%   4.0
亞太電信   q01  行動電話系統業者   亞太電信   3.8%  0.5%  0.0%  0.2%    0.0%   4.4%   5.0
威寶電信   q01  行動電話系統業者   威寶電信   0.0%  0.0%  0.0%  0.2%    0.0%   0.2%   6.0
中華電信   q02    數據網路服務   中華電信  37.6%  5.0%  4.8%  3.0%    1.2%  51.7%   1.0

# Xlsx

In [46]:
writer = pd.ExcelWriter('交叉分析(北區).xlsx', engine='xlsxwriter') 

sex.to_excel(writer, sheet_name='北區_性別', startrow= 0, index=False)  
age.to_excel(writer, sheet_name='北區_年齡', startrow= 0, index=False)
income.to_excel(writer, sheet_name='北區_月收入', startrow= 0, index=False)
residence.to_excel(writer, sheet_name='北區_居住地', startrow= 0, index=False)
job.to_excel(writer, sheet_name='北區_職業', startrow= 0, index=False)
education.to_excel(writer, sheet_name='北區_學歷', startrow= 0, index=False)

writer.save()